<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head.ejs",{title:"users"}) %>
</head>

<body style="position: relative">
    <a class="btn btn-primary " style="position: absolute" href="/home">بازگشت به خانه</a>
    <div class="justify-content-between">
        <% for( let index=0 ; index < users.length; index++ ) { %>
            <div dir="rtl" class="card col-sm-12 col-md-8 col-lg-5 mx-auto">
                <div dir="rtl" class="card-body">
                    <h4 dir="rtl" class="card-title">
                        نام کاربری :
                        <%= users[index].username  %>
                    </h4>
                    <hr>
                    <h5 dir="rtl" class="card-title">
                        نام :
                        <%=users[ index].firstName %>
                            <hr> نام خانوادگی :
                            <%=users[ index].lastName %>
                    </h5>
                    <hr>
                    <h6 dir="rtl" class="card-subtitle mb-2 text-muted">
                        وارد شده در :
                        <%=users[ index].createdAt  %>
                    </h6>
                    <hr>
                    <p dir="rtl" class="card-text">
                        تلفن همراه :
                        <%= users[ index].phone %>
                    </p>
                    <hr>
                    <p>
                        جنسیت‌:
                        <%= users[ index].gender %>
                    </p>
                    <hr>
                    <p class="card-text">
                        وضعیت :
                        <%= users[ index].role %>
                    </p>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <form action="dashboard/reset" method="post">
                            <input type="hidden" name="_id" value="<%=users[index]._id%>" />
                            <input type="hidden" name="phone" value="<%=users[index].phone%>" />
                            <button type="submit" class="btn btn-primary m-2">بازنشانی رمز عبور</a>
                    </form>
                    <form action="dashboard/delete" method="post">
                        <input type="hidden" name="_id" value="<%=users[index]._id%>" />
                        <button type="submit" class="btn btn-primary m-2">حذف اکانت</a>
                    </form>
                    </div>

                </div>
            </div>
            <br>
            <% } %>
    </div>

</body>

</html>