<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head.ejs",{title:"users"}) %>
</head>

<body style="position: relative">
    <%- include("./navbar.ejs")  %>
        <div class="d-flex flex-wrap justify-content-between col-12 m-auto">
            <% for( let index=0 ; index < users.length; index++ ) { %>
                <div class="card col-sm-12 col-md-8 col-lg-5 ml-5 mt-3">
                    <div dir="rtl" class="card-body">
                        <div class="d-flex justify-content-between">
                            <p dir="rtl" class="card-title">
                                نام :
                                <%=users[ index].firstName %>
                            </p>
                            <p>
                                نام خانوادگی :
                                <%=users[ index].lastName %>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 dir="rtl" class="card-title">
                                    نام کاربری :
                                    <%= users[index].username  %>
                                </h5>
                                <hr>
                                <h6 dir="rtl" class="card-subtitle mb-2 text-muted">
                                    وارد شده در :
                                    <%=users[ index].createdAt.toLocaleDateString('fa-IR')  %>
                                </h6>
                                <hr>
                                <p dir="rtl" class="card-text">
                                    تلفن همراه :
                                    <%= users[ index].phone %>
                                </p>
                            </div>
                            <img class="card-img-top" src="<%=users[index].avatar%>" style="max-width:45%;" alt="Card image cap">
                        </div>
                        <hr>
                        <div class="d-flex flex-wrap justify-content-between">
                            <p>
                                جنسیت‌:
                                <%= users[ index].gender %>
                            </p>
                            <p class="card-text">
                                وضعیت :
                                <%= users[ index].role %>
                            </p>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between col-11">
                            <form action="dashboard/reset" method="post">
                                <input type="hidden" name="_id" value="<%=users[index]._id%>" />
                                <input type="hidden" name="phone" value="<%=users[index].phone%>" />
                                <button type="submit" class="btn btn-primary m-2">بازنشانی رمز عبور</button>
                            </form>
                            <button class="btn btn-danger m-2">مسدود کردن</button>
                            <form action="dashboard/delete" method="post">
                                <input type="hidden" name="_id" value="<%=users[index]._id%>" />
                                <button type="submit" class="btn btn-danger m-2">حذف اکانت</button>
                            </form>
                            <form action="/blog/UserArticles" method="post">
                                <input type="hidden" name="user" value="<%=users[index]._id%>" />
                                <button type="submit" class="btn btn-primary m-2">مقالات
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
                <br>
                <% } %>
        </div>

</body>

</html>