<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head.ejs",{title:"article"}) %>
</head>

<body>
    <%-include("./navbar.ejs")   %>
        <div dir="rtl" class="card" style="width: 100%">
            <div style="background-color:d7d7b8">
                <div dir="rtl" class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 dir="rtl" class="card-title"> عنوان :
                                <%=article.title %>
                            </h5>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p dir="rtl" class="card-text">
                                    نوشته شده توسط :
                                    <%= article.author.firstName + " " + article.author.lastName %>
                                </p>
                                <p dir="rtl" class="card-text">
                                    در تاریخ :
                                    <%=article.createdAt.toLocaleDateString('fa-IR')  %>
                                </p>
                            </div>
                        </div>
                        <div style="max-width:400px;">
                            <image class="img-thumbnail" style=" 
                            width: 100%;
                            max-height: 25vh;
                          " src="<%= article.image %>">
                            </image>
                        </div>
                    </div>
                    <hr>
                    <p dir="rtl" class="card-text">
                        <%=article.content %>
                    </p>
                    <hr>
                    <div>
                        <div class="d-flex justify-content-between">
                            <p>بازدید ها :
                                <%=article.visitCount %>
                            </p>
                            <p> پسندیده :
                                <button type="button" class="btn btn-danger" id="likebutton"><%= article.like %> </button>
                            </p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                نوشتن نظر
                              </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">نظر خود را وارد کنید</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/blog/<%= article._id %>/comments">

                                                <div class="form-floating mb-3">
                                                    <label for="content">متن:</label>
                                                    <textarea type="text" class="form-control" name="text" id="content" rows="5" placeholder="متن خود را وارد کنید"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary m-2">ثبت نظر  </button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="d-flex flex-row-reverse">

                <p dir="rtl" class="card-text">نظرات شما : </p>
            </div>
            <div>
                <% for( let index = 0; index < article.Comment.length; index++ ) { %>
                    <div dir="rtl" class="card " style="width: 100%">
                        <p>نظر :
                            <%= article.Comment[index].text %>
                        </p>
                        <hr>
                        <div class="d-flex justify-content-between flex-row-reverse">


                            <% if (statuses==="/admin") { %>
                                <form method="post" action="/blog/<%= article._id%>/deleteComment">
                                    <input type="hidden" name="id" value="<%= article.Comment[index]._id%>">
                                    <button type="submit" class="btn btn-danger"> حذف </button>
                                </form>

                                <% } %>
                                    <p>
                                        نوشته شده توسط :
                                        <%= article.Comment[index].Writtenby.firstName+ " " + article.Comment[index].Writtenby.lastName%>

                                    </p>

                        </div>
                    </div>
                    <hr>
                    <%}%>
            </div>
        </div>


</body>

</html>