<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head.ejs",{title : "My Articles"}) %>
</head>

<body>
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
        <% for( let index=0 ; index < articles.length; index++ ) { %>
            <div dir="rtl" class="card" style="width: 100%">
                <div dir="rtl" class="card-body">
                    <h5 dir="rtl" class="card-title">
                        <%=articles[ index].title  %>: عنوان</h5>
                    <hr>
                    <h6 dir="rtl" class="card-subtitle mb-2 text-muted">
                        <%=articles[ index].createdAt  %>: نوشته شده در
                    </h6>
                    <hr>
                    <p dir="rtl" class="card-text">
                        <%=articles[ index].content %>
                    </p>
                    <hr>
                    <p dir="rtl" class="card-text">
                        <%=articles[ index].author %>
                    </p>
                    <hr>
                    <div>
                        لایک کامنت ویو دیس لایک
                    </div>
                </div>
            </div>
            <br>
            <% } %>
    </div>


</body>

</html>